table{
    font-weight:bold;
    table-layout: fixed;
    border-collapse: collapse;
    width:100%;
  }
  
  td,th{
    vertical-align: top;
    border: 1px solid #ddd;
    padding:8px;
  }
  tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  .chbx{
    color:white;
    background:white;
  }
  
  